<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpenseHub</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

    <div class="container mt-5">
        <div class="card shadow p-5 text-center">

            <h1 class="mb-3">ExpenseHub 💸</h1>

            <p class="text-muted">
                Sistema de administración de gastos personales
            </p>

            <a href="/login" class="btn btn-dark mt-3">
                Iniciar Sesión
            </a>

        </div>
    </div>

</body>
</html>